# Assignment 3 : loops and control structures
# Task 1 = print multiplication table

In [1]:
num = int(input("enter the num "))
for i in range (1,11):
   print(f'{num}x{i} = {num*i}')

enter the num  7

7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
7x10 = 70

In [2]:
num = int(input("enter the num "))
for i in range (1,11):
    print(num*i)

enter the num  3

3
6
9
12
15
18
21
24
27
30

# Task 2 = print numbers from 10 to 1 using a while loop

In [3]:
i = 10
while i>=1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

# Task 3 = finding maximum and minimum numbers

In [4]:
list = [ 1 ,8 ,7 ,9 , 3 , 5 , 12 , 78 ,2 , 56]
min = min(list)
max = max(list)
print(f'minimum number:{min}')
print(f'maximum number:{max}')

minimum number:1
maximum number:78

# Take 4 : print the fibonacci sequence up to n terms

In [7]:
n = 10 
num = 1
num = 2
next_number = num2
count = 1
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1 , num2 =  num2 , next_number
    next_number = num1 + num2
print()

NameError: name 'num2' is not defined