<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> <!--- Devashish Kumar | CodroidHub Private Limited | AI/ML Consultant --->
    </div>
</div>

<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    Data Structure in Python <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;">Introduction of Data structure </h3>
</div>

1. A Data structure is a way of organizing, storing, and managing data efficiently so that it can be accessed     and modified easily.
2. It provides a framework for handling data in optimized way based on the requiremments of the program.
3. Python provides several built-in and user-defined data structure to store and manage data efficiently.

# Why Data Structure important

1. Efficiency - Helps in optimizing the space and complexity
2. Data Management - Organizes data logically
3. Faster processing - improves execution time of algorithms
4. Reusability - Can be used in different programs

# Types of Data Structure

1. Built-in Data structure
2. User-Defined Data Stucture

<div style="background-color: white; color: black; padding: 10px;">
    <h3><b> Built-in Data structure</b> <p><p>
 <p> 1. List</p> 
 <p> 2. Tuples</p>  
 <p> 3. Set</p>
 <p> 4. Dictionary</p> 
</h3> </div>

<div style="background-color: darkgreen; color: black; padding: 6px;">
    <h3 style="text-align: center; color: white; font-size: 25px;">List</h3>
</h3> </div>

# What is List?

1. A List in python is a built-in data structure that allow you to store multiple items in single variable.
2. It is ordered , mutable(modifiable), and allow duplicates value.
3. In the list item are separated by with the help of commas between square brackets

# Different Methods of list in a python

1.Creating a list-
lists are created using square brackets [].

In [1]:
list = [1, 2, 3, 4, 5, 6]
print(list)

[1, 2, 3, 4, 5, 6]

list can be contain different data types

In [3]:
my_list = [10, "heelo" , 7.8, True]
print(my_list)

[10, 'heelo', 7.8, True]

2. Accessing Elements - Python Zero-based indexing to access elements

In [5]:
numbers = [10, 57, 89, 3, 9, 54, 78]
print(numbers[0]) #First element
print(numbers[-1])#last elements

10
78

3.Modifying the list - lists are mutable meaning ypo can change their elements

In [6]:
numbers = [10, 57, 89, 3, 9, 54, 78]
numbers[1] = 25
print(numbers)

[10, 25, 89, 3, 9, 54, 78]

4. Add list items - To add an item to end of the list, use the append() method

In [7]:
list = ["apple", "banana" , "cherry"]
list.append("orange")
print(list)

['apple', 'banana', 'cherry', 'orange']

4.1 Insert items - To insert a list item at a specified index, use the insert() method

In [21]:
list = ["apple", "banana" , "cherry"]
list.insert(2,"orange")
print(list)

['apple', 'banana', 'orange', 'cherry']

5. Extended list - To append elements from another list to the current list , use the extend() method.

In [12]:
list = ["apple", "banana" , "cherry"]
numbers = [10, 57, 89, 3, 9, 54, 78]
list.extend(numbers)
print(list)

['apple', 'banana', 'cherry', 10, 57, 89, 3, 9, 54, 78]

5.1 Add Any Iterable - The extend() method does not have to append lists, you can add any iterable object(tuples ,sets, dictionaries etc.).

In [22]:
#Add elements of a tuple to a list 
list = ["apple", "banana" , "cherry"]
tuple = ("kiwi", "orange")
list.extend(tuple)
print(list)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

6. Remove list items - The remove() method remove the specified items

In [23]:
list = ["apple", "banana" , "cherry"]
list.remove("apple")
print(list)

['banana', 'cherry']

6.1 Remove specified index - The pop() methods removes the specified index.

In [28]:
list = ["apple", "banana" , "cherry"]
list.pop(1)
print(list)

['apple', 'cherry']

6.2 Remove last item

In [27]:
list = ["apple", "banana" , "cherry"]
list.pop()
print(list)

['apple', 'banana']

6.3 The del keyword also remove the specified index

In [29]:
numbers = [10, 57, 89, 3, 9, 54, 78]
del numbers[1] 
print(numbers)

[10, 89, 3, 9, 54, 78]

6.4 Clear the list - The clear() method empties the list.

In [32]:
numbers = [10, 57, 89, 3, 9, 54, 78]
numbers.clear()
print(numbers)

[]

7. loops Through  a list - you can loop through the list items by using for loop:

In [ ]:
numbers = [10, 57, 89, 3, 9, 54, 78]
for x in numbers :
    print(x)

7.1 Print all items by referring to their index number

In [36]:
numbers = [10, 57, 89, 3, 9, 54, 78]
for x in range(len(numbers)) :
    print(numbers[x])

10
57
89
3
9
54
78

7.2 You can loop through the list items by using while loop.

In [1]:
# print all items , using a while loop to go through all the index numbers
numbers = [10, 57, 89, 3, 9, 54, 78]
i = 0
while i<len(numbers):
    print(numbers[i])
    i = i+1

10
57
89
3
9
54
78

7.3 Looping using list comprehension - list comprehension offers the shortest syntax for looping through lists:

In [2]:
numbers = [10, 57, 89, 3, 9, 54, 78]
[print(x) for x in numbers]

10
57
89
3
9
54
78

[None, None, None, None, None, None, None]

8. List comprehension - list comprehension offers a shorter syntax when you want to create a new list based on 
the values of an existing list.

In [3]:
fruits = ['apple', 'banana', 'grapes', 'cheery']
newlist = []
for x in fruits :
    if 'a' in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'grapes']

9. Short lists - list object have a sort() method that will sort the list aiphanumerically,ascending,by default

In [4]:
fruits = ['apple', 'banana', 'grapes', 'cheery']
fruits.sort()
print(fruits)

['apple', 'banana', 'cheery', 'grapes']

In [5]:
numbers = [10, 57, 89, 3, 9, 54, 78]
numbers.sort()
print(numbers)

[3, 9, 10, 54, 57, 78, 89]

9.1 Sort Descending - To sort descending , use the keyword argument 'reverse = True'

In [6]:
numbers = [10, 57, 89, 3, 9, 54, 78]
numbers.sort(reverse = True)
print(numbers)

[89, 78, 57, 54, 10, 9, 3]

10 . Reverse order - The reverse() method reverse the current sorting order of the elements

In [9]:
numbers = [10, 57, 89, 3, 9, 54, 78]
numbers.reverse()
print(numbers)

[78, 54, 9, 3, 89, 57, 10]

11. Copy a list - you can use method copy() to copy a list

In [11]:
numbers = [10, 57, 89, 3, 9, 54, 78]
list = numbers.copy()
print(list)

[10, 57, 89, 3, 9, 54, 78]

In [1]:
# Make a copy of a list with the list() method
numbers = [10, 57, 89, 3, 9, 54, 78]
mylist = list(numbers)
print(mylist)

[10, 57, 89, 3, 9, 54, 78]

12 . Join two lists - one of the easiest ways are by using the + operator.

In [2]:
numbers = [10, 57, 89, 3, 9, 54, 78]
fruits = ['apple', 'banana', 'grapes', 'cheery']
list = numbers+fruits
print(list)

[10, 57, 89, 3, 9, 54, 78, 'apple', 'banana', 'grapes', 'cheery']

12.1 Append list2 into list1

In [4]:
numbers = [10, 57, 89, 3, 9, 54, 78]
fruits = ['apple', 'banana', 'grapes', 'cheery']
for x in fruits:
  numbers.append(x)
print(list)

[10, 57, 89, 3, 9, 54, 78, 'apple', 'banana', 'grapes', 'cheery']

13. List slicing - It is allows you to extract a portion of a list using the syntax is list[start:stop:step]

Parameters :
1. Start : The index where slicing begins (inclusive).default 0.
2. Stop : The index where slicing ends(exclusive).
3. Step : The step or stride(default is 1).

In [6]:
# from index 2 to 6
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[2:7])

[2, 3, 4, 5, 6]

In [7]:
# from index 0 to 6
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[:7])

[0, 1, 2, 3, 4, 5, 6]

In [8]:
# from index 2 to end
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[2:])

[2, 3, 4, 5, 6, 7, 6, 8, 9, 10]

In [11]:
# using steps
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[0:13:2])

[0, 2, 4, 6, 6, 9]

In [10]:
# every third elements from start to end
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[::3])

[0, 3, 6, 8]

In [12]:
# negative slicing 
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[::-1])

[10, 9, 8, 6, 7, 6, 5, 4, 3, 2, 1, 0]

In [13]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[-6:-3])

[6, 7, 6]

In [14]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 6, 8, 9, 10]
print(num[-2::])

[9, 10]

Modifying slicing

In [16]:
num[2:5] = [100 , 101 , 102]
print(num)

[0, 1, 100, 101, 102, 5, 6, 7, 6, 8, 9, 10]

# Method Description


1. append() =	Adds an element at the end of the list
2. clear()  =	Removes all the elements from the list
3. copy()	 =  Returns a copy of the list
4. count()	 =   Returns the number of elements with the specified value
5. extend() =	Add the elements of a list (or any iterable), to the end of the current list
6. index()	 =   Returns the index of the first element with the specified value
7. insert() = 	Adds an element at the specified position
8. pop()	 =   Removes the element at the specified position
9. remove() =	Removes the item with the specified value
10. reverse()=	Reverses the order of the list
11. sort()	 =  Sorts the list

<div style="background-color: darkgreen; color: black; padding: 6px;">
    <h3 style="text-align: center; color: white; font-size: 25px;">Tuple</h3>
</h3> </div>

# What is Tuple?

1. A tuple is an ordered, immutable collection of elements.
2. It is similar to list but cannot be modified after creation .
3. It means you cannot add, remove, or change elements
4. Tuples are written with round brackets

# Characteristic of Tuples

1. Ordered = Elements have a fixed order.
2. Immutable = Cannot be changed after creation.
3. Allow duplicate values = Elements can be repeated.
4. Can store mixed data types = supports integers, strings, foats, etc.

# Different Methods of Tuples in a python

1.Create a tuple

In [19]:
tuple = ("apple","banana","cheery","grapes")
print(tuple)

('apple', 'banana', 'cheery', 'grapes')

In [20]:
# Allow duplicates value
tuple = ("apple","banana","cheery","grapes","cherry")
print(tuple)

('apple', 'banana', 'cheery', 'grapes', 'cherry')

2. Acess Tuple items - You can access tuple items by referring to the index number,inside square brackets.

In [22]:
# print the second item in the tuple
tuple = ("apple","banana","cheery","grapes",)
print(tuple[2])

cheery

In [25]:
tuple = ("apple","banana","cheery","grapes","cherry")
print(tuple[2:4])

('cheery', 'grapes')

2.1 Negative Indexing - Negative indexing means start from the end. -1 refers to the last item,-2 refers to the last item etc.

In [24]:
tuple = ("apple","banana","cheery","grapes","cherry")
print(tuple[-1])

cherry

In [29]:
tuple = ("apple","banana","cheery","grapes","cherry")
print(tuple[-5:-1])

('apple', 'banana', 'cheery', 'grapes')

In [30]:
tuple = ("apple","banana","cheery","grapes","cherry")
print(tuple[:4])

('apple', 'banana', 'cheery', 'grapes')

3. Change tuple values - once tuple you are created , ypu can not change its value. you can convert the tuple into list, change the list, and convert the list back into tuples

In [7]:
a = (1, 2, 3, 5, 7, 8)
b = list(a)
b[1] = "kiwi"
a = tuple(b)
print(a)

(1, 'kiwi', 3, 5, 7, 8)

4. Add items - In which append function doest not use directly so first we convert the tuple into list add your item and convert it back into tuple

In [8]:
tuple1 = ("apple","banana","cheery","grapes",)
mytuple =list(tuple1)
mytuple.append("orange")
tuple1 = tuple(mytuple)
print(tuple1)

('apple', 'banana', 'cheery', 'grapes', 'orange')

5. pack tuples - When we create a tuple, we normally assign values to it. This is called "packing" a tuple

In [9]:
tuple = ("apple","banana","cheery","grapes")
tuple

('apple', 'banana', 'cheery', 'grapes')

In [10]:
# unpacking tuples: extract the values back into variable
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

6 . Loop through a Tuple - You can loop through the tuple items by using a for loop

In [11]:
fruits = ("apple", "banana", "cherry")
for x in fruits:
    print(x)

apple
banana
cherry

6.1 Loop Through the index numbers - Use the range() and len() function

In [2]:
fruits = ("apple", "banana", "cherry")
for x in range (len(fruits)):
    print(fruits[x])

apple
banana
cherry

6.2 Using a While Loop - use the len() function determine the length of tuple.

In [4]:
fruits = ("apple", "banana", "cherry")
i = 0
while i<len(fruits):
    print(fruits[i])
    i = i+1

apple
banana
cherry

7.Join two tuples - TO join two or more then two tuples using + operator.

In [6]:
fruits = ("apple", "banana", "cherry")
a = (1, 2, 3, 5, 7, 8)
b = a+fruits
print(b)

(1, 2, 3, 5, 7, 8, 'apple', 'banana', 'cherry')

7.2 Multiple Tuples- use * opeartor

In [9]:
fruits = ("apple", "banana", "cherry")
a = fruits*3
print(a)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Method Description

python has two built-in methods that you can use on tuples.

Method	Description
1. count()	= Returns the number of times a specified value occurs in a tuple
2. index()	= Searches the tuple for a specified value and returns the position of where it was found

<div style="background-color: darkgreen; color: black; padding: 6px;">
    <h3 style="text-align: center; color: white; font-size: 25px;">Sets</h3>
</h3> </div>

# What is Set?

1. A set is an unodered, mutable, and unique collection of elements.
2. Sets are useful when you need to store distinct items and perform set operation.
3. Operation like union, intersection, and difference
4. Sets are written with curly brackets

# Characteristics of sets

1. Unordered : Elements do not have a fixed position.
2. unique : No duplicate elements.
3. Mutable : You can add or remove elements.
4. Unindexed : No indexing or slicing.
5. Supports set operation : Like union, intersection, and difference.

# Different Methods of Sets in a python

# 1. Create a set

In [11]:
b = {"apple","banana","cherry"}
print(b)

{'apple', 'cherry', 'banana'}

2. Duplicates are not allowed

In [13]:
# duplicate value will be ignored
b = {"apple","banana","cherry","apple"}
print(b)

{'apple', 'cherry', 'banana'}

# 3. True and 1 is considered the same value in the set

In [14]:
set = {1,True}
print(set)

{1}

3. False and 0 is considered the same value in the set

In [15]:
set = {False,True,0}
print(set)

{False, True}

In [16]:
set = {0,False}
print(set)

{0}

4. Get the length of a set - to determine how many items a set has, use the len() function.

In [17]:
b = {"apple","banana","cherry","apple"}
print(len(b))

3

5. type() is used for defined the data type

In [19]:
b = {"apple","banana","cherry","apple"}
print(type(b))

<class 'set'>

6. Set contructor - It is possible to use the set() constuctor to make a set

In [21]:
b = (("apple","banana","cherry","apple"))
print(b)# in which we use double round brackets rather then curly brackets

('apple', 'banana', 'cherry', 'apple')

6. Remove set items - To remove an item in set, use the remove(),or the discard() method

In [23]:
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [24]:
thisset = {"apple","banana","cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [25]:
# Remove a random items by using the pop() methods.
thisset = {"apple","banana","cherry"}
thisset.pop()
print(thisset)

{'cherry', 'banana'}

7. clear() - The clear() method empties the set

In [2]:
thisset = {"apple","banana","cherry"}
thisset.pop()
print(thisset)

{'banana', 'cherry'}

8. Loop items - You can loop through the set item by using a for loops

In [5]:
thisset = {"apple","banana","cherry"}
for x in thisset:
    print(x)

apple
banana
cherry

9. Join sets

There are several ways to join two or more sets in python

1. The union() and update() methods joins all items from both sets
2. The intersection() methods keeps only the duplicates.
3. The difference() method keeps the items from the first set that are not in other set
4. The symmetric_diffeence() method keeps all items except the duplicates.

9.1 Join set1 and set2 into a new set:

In [1]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

9.2 Use | to join two sets:

In [2]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

9.3 Join multiple sets with the union() method:

In [3]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'cherry', 'bananas', 'a', 'John', 'b', 'apple', 'c'}

9.4 Join a set with a tuple:

In [4]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

9.5 The update() method inserts the items in set2 into set1:

In [5]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

9.6 The intersection() method will return a new set, that only contains the items that are present in both sets.

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

9.7 You can use the & operator instead of the intersection() method, and you will get the same result.

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

9.8 The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

9.9 The difference() method will return a new set that will contain only the items from the first set that are not present in the other set

In [9]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

9.10 You can use the - operator instead of the difference() method, and you will get the same result

In [10]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

# Method	Shortcut	Description



1. add()	 	           Adds an element to the set
2. clear()	 	           Removes all the elements from the set
3. copy()	 	           Returns a copy of the set
4. difference()-	       Returns a set containing the difference between two or more sets
5. difference_update()-=   Removes the items in this set that are also included in another, specified set
6. discard()	 	       Remove the specified item
7. intersection()&	       Returns a set, that is the intersection of two other sets
8. intersection_update()&= Removes the items in this set that are not present in other, specified set(s)
9. isdisjoint()	 	       Returns whether two sets have a intersection or not10. 
issubset( 	<=       	Returns whether another set contains this set or notand others

<div style="background-color: darkgreen; color: black; padding: 6px;">
    <h3 style="text-align: center; color: white; font-size: 25px;">Dictionaries</h3>
</h3> </div>

# What is Dictionary?

1. A dictionary is a built in data structure that store data in key-value.
2. It is unordered ,mutable, and does not allow duplicate keys.
3. In which we used the curly brackets.

# Key Characteristics:

1. Key-Value Pairs: Each item in a dictionary is a pair consisting of a key and a value.
2. Mutable:    You can change the values or add new key-value pairs.
3. Unordered:  Dictionaries don't guarantee the order of items until Python 3.7+. Starting from Python 3.7+,                  they maintain insertion order.
4. Unique Keys: Keys in a dictionary must be unique. If you try to add a key that already exists, it will                      overwrite the existing value for that key.

# 1. Creating a Dictionary

In [1]:
# using curly braces
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
print(student)

{'name': 'kanchan', 'age': 20, 'branch': 'AI/ML'}

# 2. Accessing values

In [3]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
print(student["name"])
print(student["age"])

kanchan
20

# 3.Ordered or Unordered?

1. When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.
2. Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.
3. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered

# 4.Changeable


Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [5]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Modifying an existing value
person["age"] = 26

# Adding a new key-value pair
person["job"] = "Engineer"

# Removing a key-value pair
del person["city"]

# Printing the updated dictionary
print(person)

{'name': 'Alice', 'age': 26, 'job': 'Engineer'}

# 5.Duplicates Not Allowed

In [4]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# 6.Dictionary Length

In [6]:
#Print the number of items in the dictionary:
print(len(thisdict))

3

# 7.Dictionary Items - Data Types

In [7]:
#String, int, boolean, and list data types:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

# 8.Update Dictionary

Update the "year" of the car by using the update() method:

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# 9.Adding Items


Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [8]:
 thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# 10.Removing Items

10.1 The pop() method removes the item with the specified key name:

In [11]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
student.pop("age")
print(student)

{'name': 'kanchan', 'branch': 'AI/ML'}

10.2 The popitem() method removes the last inserted item.

In [12]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
student.popitem()
print(student)

{'name': 'kanchan', 'age': 20}

10.3 The del keyword removes the item with the specified key name:

In [14]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
del student["age"]
print(student)

{'name': 'kanchan', 'branch': 'AI/ML'}

10.4 The clear() method empties the dictionary:

In [15]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
student.clear()
print(student)

{}

# 11.Copy a Dictionary

Make a copy of a dictionary with the copy() method:

In [16]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
student2 = student.copy()
print(student)

{'name': 'kanchan', 'age': 20, 'branch': 'AI/ML'}

11.1 Make a copy of a dictionary with the dict() function:

In [18]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
student2 = dict(student)
print(student2)

{'name': 'kanchan', 'age': 20, 'branch': 'AI/ML'}

# 12. Loop Through a Dictionary

You can loop through a dictionary by using a for loop

In [20]:
student = {"name":"kanchan","age":20,"branch":"AI/ML"}
for x in student:
  print(x)

name
age
branch

12.1 you can also use the values() method to return values of a dictionary:

In [21]:
for x in student.values():
  print(x)

kanchan
20
AI/ML


12.2 You can use the keys() method to return the keys of a dictionary:

In [23]:
for x in student.keys():
  print(x)

name
age
branch


12.3 Loop through both keys and values, by using the items() method:

# 13.Nested Dictionaries

In [27]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}


# Method Description


Method	    Description
1. clear()	 :   Removes all the elements from the dictionary
2. copy():	    Returns a copy of the dictionary
3. fromkeys():	Returns a dictionary with the specified keys and value
4. get()	:    Returns the value of the specified key
5. items()	:    Returns a list containing a tuple for each key value pair
6. keys()	:    Returns a list containing the dictionary's keys
7. pop()	:    Removes the element with the specified key
8. popitem():	Removes the last inserted key-value pair
9. setdefault() :Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
10. update():	Updates the dictionary with the specified key-value pairs
11.values():	 Returns a list of all the values in the dictionary

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
    </h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>

<!--- Mohammad Idrees Bhat | Mohammad Idrees Bhat --->

<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->