<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma <br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> <!--- Devashish Kumar | CodroidHub Private Limited | AI/ML Consultant --->
    </div>
</div>

<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->

<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    Data types in Python <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;">Introduction</h3>
</div>

# What is Data type in python?

In Python, a data type is a classification that specifies which type of value a variable can hold. Python supports several built-in data types, each serving different purposes. Here are the main data types in Python:

# 1. Numeric Types


int: Integer numbers (whole numbers).

In [1]:
 x = 5
print(x)

5

float: Floating-point numbers (decimals).

In [3]:
y = 3.12
print(y)

3.12

complex: Complex numbers (numbers with real and imaginary parts).

In [6]:
z = 2 + 3j
print(z)

(2+3j)

### 2. Sequence Types

str : Represents strings (a sequence of characters).

In [8]:
print("hello world")

hello world

In [ ]:
 list : Represents a mutable (changeable) sequence of items.

In [9]:
list = [1, 2, 3,"apple", "banana", "cherry"]
print(list)

[1, 2, 3, 'apple', 'banana', 'cherry']

tuple: Represents an immutable (unchangeable) sequence of items.

In [11]:
tuple = (1, 2, 3, "a", "b", "c")
print(tuple)

(1, 2, 3, 'a', 'b', 'c')

range: Represents an immutable sequence of numbers, commonly used in loops.

In [17]:
for i in range(0,5):
  print(i)

0
1
2
3
4

# 3. Mapping Type

In [ ]:
dict : Represents a collection of key-value pairs, also known as a dictionary.
  - Example: `{"name": "Alice", "age": 25}`

In [18]:
dict = {"name": "Alice", "age": 25}
print(dict)

{'name': 'Alice', 'age': 25}


### 4. Set Types


set : Represents an unordered collection of unique items.

In [21]:
set = {1, 2, 3 , "apple", "banana", "cherry"}
print(set)

{'banana', 2, 3, 1, 'apple', 'cherry'}

frozenset : Represents an immutable set (cannot be changed after creation).

In [22]:
set2 = frozenset([1, 2, 3])
print(set2)

frozenset({1, 2, 3})

# 5. Boolean Type

bool: Represents Boolean values, which can either be `True` or `False`.

In [25]:
bool = ( True, False)
print(bool)

(True, False)

# 6. Binary Types

 **`bytes`**: Immutable sequence of bytes.
  - Example: `b'hello'`

 **`bytearray`**: Mutable sequence of bytes.
  - Example: `bytearray([65, 66, 67])`

-**`memoryview`**: Represents a view object that exposes an array's memory buffer.
  - Example: `memoryview(b'hello')`


# 7. None Type


None : Represents the absence of a value or a null value.

In [26]:
var = ()
print(var)

()

### Type Conversion

You can convert between different data types using functions like:
- `int()`: Convert to an integer.
- `float()`: Convert to a float.
- `str()`: Convert to a string.
- `list()`: Convert to a list.

These are the fundamental data types in Python!

In [30]:
num1 = int(9.5)
num2 = float(2)
var = str(6)
print(num1)
print(num2)
print(var)

9
2.0
6

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
    </h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>